.calendar {
	color: #fff;
	font-family: "Consolas", "Monoco", monospace;
	text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.9);
	font-weight: 200;
}
caption {
	text-align: left;
	margin: 0 0 0 0.7rem;
	font-size: 30px;
	font-weight: 200;
	opacity: 0.8;
}
th {
	font-weight: 200;
	opacity: 0.6;
}
td {
	opacity: 0.75;
}
th,
td {
	padding: 0.6em;
	text-align: center;
	line-height: 1.1;
}
.today {
	font-weight: 400;
	opacity: 1;
	position: relative;
}
.calendar .today:before {
	content: "";
	z-index: -1;
	position: absolute;
	height: 2em;
	width: 2em;
	border-radius: 50%;
	top: calc(50% - 1em);
	left: calc(50% - 1em);
	background: #bf360c;
}

body {
	display: flex;
	align-items: center;
	justify-content: center;
	min-height: 100vh;
	background: #303f9f;
}
