:root {
	--border-width: 2px;
	--color-link: #1565c0;
	--color-link-hover: #0d47a1;
	--color-ui-light: #eceff1;
	--color-ui-med: #546e7a;
	--color-ui-dark: #263238;
	--menubar-height: 4rem;
	--menu-transition-timing: 250ms;
}

body {
	background: var(--color-ui-light);
	color: var(--color-ui-dark);
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue',
		sans-serif;
	line-height: 1.5;
}

.hidden {
	clip: rect(0 0 0 0);
	-webkit-clip-path: inset(50%);
	clip-path: inset(50%);
	height: 1px;
	overflow: hidden;
	position: absolute;
	white-space: nowrap;
	width: 1px;
}

.menu {
	background: #fff;
	display: grid;
	grid-template-areas: 'title toggle' 'menu menu';
	align-items: center;
	grid-template-columns: 1fr var(--menubar-height);
	grid-template-rows: var(--menubar-height) auto;
}
.menu button {
	all: unset;
	box-sizing: border-box;
}
.menu button > * {
	pointer-events: none;
}
.menu a,
.menu button {
	text-decoration: none;
	display: block;
	color: var(--color-link);
	text-align: center;
	cursor: pointer;
}
.menu a:hover,
.menu a:focus,
.menu button:hover,
.menu button:focus {
	text-decoration: none;
	color: var(--color-link-hover);
}

.menu-site-link {
	grid-area: title;
}

button.menu-toggle {
	display: block;
	font-size: 1.75em;
	height: var(--menubar-height);
	width: var(--menubar-height);
	grid-area: toggle;
	cursor: pointer;
}

.menu-wrapper {
	grid-area: menu;
	max-height: 0;
	overflow: hidden;
	transition: max-height var(--menu-transition-timing) ease-out;
}

a.site-link {
	padding: 0.5rem 1rem;
	font-size: 1.25rem;
	display: flex;
	gap: 0.5rem;
	align-items: center;
}
a.site-link > * {
	display: block;
}
a.site-link .site-logo {
	text-align: center;
	line-height: 0.8;
	font-size: 1.75em;
	height: 1em;
	width: 1em;
	border-radius: 50%;
	background: var(--color-link);
	color: #fff;
}
a.site-link .site-title {
	text-transform: uppercase;
	font-weight: 800;
	letter-spacing: 0.08em;
}

a.menu-link,
button.menu-link {
	line-height: 1;
	width: 100%;
	text-align: left;
	font-weight: 600;
	padding: 0.5em;
	color: var(--color-ui-dark);
}

button.menu-link {
	display: flex;
	justify-content: space-between;
}

.direction-indicator {
	opacity: 0.5;
	display: block;
	text-align: center;
	flex-shrink: 0;
	transition: var(--menu-transition-timing) transform ease-out;
	transform: scaleY(0.4) rotate(180deg);
}

.menu-list[data-level='1'] .menu-link {
	font-size: 1.25rem;
}
.menu-list[data-level='1'] > li {
	border-top: var(--border-width) solid var(--color-ui-light);
	padding: 0.5rem 0;
}
.menu-list[data-level='2'] {
	margin: 0 0 0 0.3rem;
}
.menu-list[data-level='2'] .menu-link {
	font-size: 1rem;
	opacity: 0.9;
}

li.menu-item {
	--menu-transition-timing: 150ms;
}
li.menu-item ul.menu-list {
	overflow: hidden;
	transition: max-height var(--menu-transition-timing) ease-out;
}

li.menu-item[data-state='closed'] ul.menu-list {
	max-height: 0;
}

li.menu-item[data-state='open'] ul.menu-list {
	max-height: var(--submenu-height);
}
li.menu-item[data-state='open'] .direction-indicator {
	transform: scaleY(0.4) rotate(0deg);
}

[data-menu-state='open'] .menu-wrapper {
	max-height: var(--menu-height);
}

@media only screen and (min-width: 800px) {
	[data-menu-state] .menu {
		display: flex;
		justify-content: space-between;
		height: var(--menubar-height);
	}
	[data-menu-state] ul.menu-list[data-level='1'] {
		display: flex;
		gap: 0.5rem;
		margin-right: 1rem;
	}
	[data-menu-state] .menu-item ul.menu-list {
		position: absolute;
		margin: -1rem;
		padding: 0 1rem;
		z-index: 0;
		background: #fff;
		transition: max-height var(--menu-transition-timing) ease-out, padding var(--menu-transition-timing) ease-out;
	}
	.menu-wrapper {
		overflow: visible;
		transition: none;
		max-height: var(--menubar-height);
	}
	ul.menu-list[data-level='1'] li {
		border-top: none;
	}
	ul.menu-list[data-level='1'] a.menu-link,
	ul.menu-list[data-level='1'] button.menu-link {
		width: auto;
		position: relative;
		z-index: 1;
	}
	ul.menu-list[data-level='1'] a.menu-link > .text,
	ul.menu-list[data-level='1'] button.menu-link > .text {
		margin-right: 0.5rem;
	}

	.menu-item[data-state='open'] ul.menu-list {
		padding: 1rem;
	}
	button.menu-toggle {
		display: none;
	}
}
