:root {
	--color-dark: #19191e;
	--color-light: #cfd8dc;

	--color-link-default: #ffd54f;
	--color-link-hover: #ffecb3;
	--color-link-visited: #b39ddb;

	--crt-red: rgb(218, 49, 49);
	--crt-green: rgb(112, 159, 115);
	--crt-blue: rgb(40, 129, 206);

	--border-width: 2px;
}

* {
	box-sizing: border-box;
}
html {
}
body {
	background: var(--color-dark);
	color: var(--color-light);
	font-family: "Anonymous Pro", monospace;
	line-height: 1.5;
}
h2 {
	font-size: 2em;
	line-height: 1.2;
}
a {
	color: var(--color-link-default);
	text-decoration: none;
}
a:hover,
a:focus,
a:visited:hover {
	color: var(--color-link-hover);
}
a:visited {
	color: var(--color-link-visited);
}

section {
	max-width: 1200px;
	margin: 0 auto;
}
img {
	display: block;
	width: 100%;
	height: auto;
}

.lab-image {
	position: relative;
	background: rgb(128, 128, 128);
	box-shadow: 0 0 0.2em currentColor, 1px 1px rgba(255, 0, 255, 0.5), -1px -1px rgba(0, 255, 255, 0.4);
}
.labs-list {
	grid-gap: 2rem;
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(18em, 1fr));
}
.labs-list > * {
	min-width: 0;
}
.lab {
	display: flex;
	flex-direction: column;
}
a.lab-link {
	display: flex;
	flex-direction: column;
	padding: 1rem;
	flex-grow: 1;
	border: var(--border-width) solid currentColor;
	transition: box-shadow 150ms ease-out;
	box-shadow: 0 0 0.2em currentColor, 1px 1px rgba(255, 0, 255, 0.5), -1px -1px rgba(0, 255, 255, 0.4);
}
a.lab-link:hover {
	border-color: var(--color-link-hover);
	box-shadow: 0 0 0.5em var(--color-link-default);
}
.lab-link > *:not(:last-child) {
	margin-bottom: 1rem;
}
.lab-meta {
	margin-top: auto;
}
.lab-meta li {
	font-size: 0.9rem;
	display: flex;
}
.lab-meta .spacer {
	flex-grow: 1;
	margin: 0 0.5em;
	overflow-x: hidden;
}
.lab-meta .spacer:before {
	white-space: nowrap;
	content: "......................................................";
}
.meta-value {
	flex-shrink: 0;
}
.meta-name {
	flex-shrink: 0;
	text-transform: uppercase;
}
/* Global */
html {
	min-height: 100%;
}

main {
	min-height: 100vh;
	padding: 8vw;
}

h1 {
	font-size: 3em;
	margin-bottom: 1rem;
}

.crt {
	background-color: var(--color-dark);

	text-shadow: 0 0 0.2em currentColor, 1px 1px rgba(255, 0, 255, 0.5), -1px -1px rgba(0, 255, 255, 0.4);
	position: relative;
}
.crt:before,
.crt:after {
	content: "";
	transform: translateZ(0);
	pointer-events: none;
	mix-blend-mode: overlay;
	position: fixed;
	height: 100%;
	width: 100%;
	left: 0;
	top: 0;
	z-index: 1;
}
.crt:before {
	background: repeating-linear-gradient(var(--crt-red) 0px, var(--crt-green) 2px, var(--crt-blue) 4px);
}
.crt:after {
	background: repeating-linear-gradient(90deg, var(--crt-red) 1px, var(--crt-green) 2px, var(--crt-blue) 3px);
}
