:root {
	--h4-size: calc(1rem * (4 / 3));
	--h3-size: calc(var(--h4-size) * (4 / 3));
	--h2-size: calc(var(--h3-size) * (4 / 3));
	--h1-size: calc(var(--h2-size) * (4 / 3));
}

html {
	font-size: 1.2rem;
}
body {
	line-height: 1.5;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	line-height: 1.1;
	font-weight: bold;
	margin-bottom: 0.75rem;
}

h1 {
	font-size: var(--h1-size);
}
h2 {
	font-size: var(--h2-size);
}
h3 {
	font-size: var(--h3-size);
}
h4 {
	font-size: var(--h4-size);
}

p {
	margin-bottom: 0.75rem;
}
p + :is(h1, h2, h3, h4, h5, h6),
ul + :is(h1, h2, h3, h4, h5, h6),
ol + :is(h1, h2, h3, h4, h5, h6) {
	margin-top: 2rem;
}

ul:not([class]) {
	list-style-type: disc;
	margin-left: 1em;
}
ul:not([class]) li {
	padding-left: 0em;
	margin-bottom: 0.5em;
}

ol:not([class]) {
	margin-top: 0;
	margin-left: 2em;
	padding-left: 0;
	list-style: decimal;
}
ol:not([class]) li {
	padding-left: 0em;
	margin-bottom: 0.5em;
}
.text-wrapper {
	max-width: 60ch;
	margin: 4rem auto;
}
